.form-header-text-edit{
  font-weight: bold;
  padding: 10px 0 10px;
  text-align: center;
  font-size: 20px;
  border-bottom: 1px solid #f5f5f5;
}

.register-card{
  font-size: 16px;
  text-decoration: none;
}

.register-list{
  display: flex;
  flex-direction: column;
}

.register-list li{
  font-size: 14px;
  margin-bottom: 10px;
}

.register-item{
  color: lightseagreen;
  font-size: 18px;
  margin-bottom: 10px;
}

.form-group p {
  font-size: 18px;
  margin-bottom: 10px;
  text-align: center;
}

.register-edit{
  border-top: 1px solid #f5f5f5;
  padding: 40px 0 5px;
  text-align: center;
}
